@charset "UTF-8";
@font-face {
  font-family: "Noto Sans JP";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/NotoSansJP-Regular.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Noto Sans JP";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/NotoSansJP-Medium.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Noto Sans JP";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/NotoSansJP-Bold.woff2") format("woff2");
  font-display: swap;
}
* {
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
embed,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  outline: 0;
  font-size: 100%;
  font-weight: normal;
  border: none;
  background: transparent;
  vertical-align: baseline;
}

html {
  height: 100%;
  overflow-y: scroll;
}

body {
  font-family: "Noto Sans JP", "游ゴシック", YuGothic, "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  color: #000;
  line-height: 2;
  overflow-x: hidden;
}
@media (min-width: 751px) and (max-width: 1300px) {
  body {
    font-size: 1.2307692308vw;
  }
}
@media (max-width: 750px) {
  body {
    font-size: 3.2vw;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Noto Sans JP", "游ゴシック", YuGothic, "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  color: #000;
  line-height: 2;
}
@media (min-width: 751px) and (max-width: 1300px) {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: 1.2307692308vw;
  }
}
@media (max-width: 750px) {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: 3.2vw;
  }
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

img[src$=".svg"] {
  width: 100%;
  height: auto;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

br {
  letter-spacing: 0;
}

pre {
  font-family: "Noto Sans JP", "游ゴシック", YuGothic, "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", sans-serif;
  line-height: 2;
  letter-spacing: 0;
  white-space: pre;
}

hr {
  margin: 0;
  padding: 0;
  border: 0;
  color: #000;
  background-color: #000;
  height: 1px;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption,
th {
  text-align: left;
}

th,
td {
  vertical-align: top;
}

ol,
ul {
  list-style: none;
  zoom: normal;
}

ol {
  list-style-type: decimal;
}

input[type=text],
input[type=password],
input[type=tel],
input[type=email],
textarea,
select {
  border-width: 1px;
  border-style: solid;
  border-color: #707070;
  font-size: 93%;
  color: #000;
  background-color: #fff;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

input[type=text]:focus,
input[type=password]:focus,
input[type=tel]:focus,
input[type=email]:focus,
textarea:focus {
  border-width: 1px;
  border-style: solid;
  border-color: #6ddeff;
  font-size: 93%;
  color: #000;
  background-color: #fff;
}

button,
input[type=button],
input[type=submit],
input[type=reset] {
  padding: 3px 0.7em 1px;
  margin: 0;
}

form label,
button,
input[type=button],
input[type=submit],
input[type=reset] {
  font-size: 0.8em;
  padding: 3px 10px;
  cursor: hand;
  cursor: pointer;
}

input[disabled][readonly] {
  background-color: #ccc;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  appearance: none;
}

.hideText {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

input[type=text],
input[type=submit],
input[type=button],
input[type=email],
input[type=tel] {
  font-size: 16px;
  border: 1px solid #ccc;
  -webkit-border-radius: 0;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

input[type=submit],
input[type=button],
input[type=email],
input[type=tel],
input[type=button] {
  border-radius: 0;
  -webkit-box-sizing: content-box;
  -webkit-appearance: button;
  appearance: button;
  border: none;
  box-sizing: border-box;
}
input[type=submit]::-webkit-search-decoration,
input[type=button]::-webkit-search-decoration,
input[type=email]::-webkit-search-decoration,
input[type=tel]::-webkit-search-decoration,
input[type=button]::-webkit-search-decoration {
  display: none;
}
input[type=submit]::focus,
input[type=button]::focus,
input[type=email]::focus,
input[type=tel]::focus,
input[type=button]::focus {
  outline-offset: -2px;
}

input[type=radio],
input[type=checkbox] {
  border-radius: 0;
  border: none;
  box-sizing: border-box;
  vertical-align: -2px;
}

.pc {
  display: inline-block;
}

@media (max-width: 750px) {
  .pc {
    display: none;
  }
}
.sp {
  display: none;
}

@media (max-width: 750px) {
  .sp {
    display: inline-block;
  }
}
.tC {
  text-align: center;
}

.tR {
  text-align: right;
}

.tL {
  text-align: left;
}

.red {
  color: #f00;
}

a {
  color: #000;
  text-decoration: none;
  transition: 0.2s;
  text-decoration: underline;
  word-wrap: break-word;
}
a:hover {
  color: #999;
  text-decoration: none;
}

@media (min-width: 751px) {
  a[href^="tel:"] {
    pointer-events: none;
    cursor: default;
    text-decoration: none !important;
  }
}
@media (max-width: 750px) {
  a[href^="tel:"] {
    text-decoration: underline !important;
  }
}

/********************************************
* header
********************************************/
body.fixed {
  position: fixed;
  width: 100%;
}

.header {
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
  padding: 0 50px;
  margin: 0 auto;
  background-color: #000;
  box-sizing: border-box;
  transition: all 0.2s;
}
@media (min-width: 751px) and (max-width: 1300px) {
  .header {
    padding: 0 3.8461538462vw;
  }
}
@media (max-width: 750px) {
  .header {
    height: 13.3333333333vw;
    padding: 0;
  }
}
.header .gnav {
  display: block;
  text-align: left;
  width: 100%;
  margin: auto;
}
.header .gnav .main {
  width: 100%;
  display: flex;
  justify-content: space-between;
  transition: all 0.2s;
}
.header .left {
  width: 160px;
  margin-right: 20px;
}
@media (min-width: 751px) and (max-width: 1300px) {
  .header .left {
    width: 12.3076923077vw;
    margin-right: 1.5384615385vw;
  }
}
@media (max-width: 750px) {
  .header .left {
    width: auto;
    height: 13.3333333333vw;
  }
}
.header .left .logo h1 {
  line-height: 1;
  display: block;
}
.header .left .logo h1 img {
  width: 160px;
  height: 80px;
}
@media (min-width: 751px) and (max-width: 1300px) {
  .header .left .logo h1 img {
    width: 12.3076923077vw;
    height: 6.1538461538vw;
  }
}
@media (max-width: 750px) {
  .header .left .logo h1 img {
    width: auto;
    height: 13.3333333333vw;
  }
}
.header .right {
  flex: 1;
  width: 100%;
}
@media (max-width: 750px) {
  .header .right {
    display: flex;
    justify-content: flex-end;
  }
}
.header .main_nav {
  flex: 1;
}
.header .main_nav ul {
  flex: 1;
  position: relative;
  display: flex;
  justify-content: flex-end;
}
@media (max-width: 750px) {
  .header .main_nav ul {
    display: block;
  }
}
.header .main_nav ul li a {
  display: block;
  color: #fff;
  font-size: 26px;
  font-weight: bold;
  line-height: 1;
  padding: 27px 25px;
  text-decoration: none;
}
@media (min-width: 751px) and (max-width: 1300px) {
  .header .main_nav ul li a {
    font-size: 2vw;
    padding: 2.0769230769vw 1.9230769231vw;
  }
}
@media (max-width: 750px) {
  .header .main_nav ul li a {
    text-align: center;
    display: block;
    color: #000;
    font-size: 5.3333333333vw;
    line-height: 1;
    padding: 5.3333333333vw 0;
    border-bottom: 2px solid #000;
  }
}
.header .main_nav ul li:hover a {
  color: #000;
  background-color: #ffec00;
}
.header #menu-icon {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-flow: column;
  z-index: 99999;
  cursor: pointer;
  height: 13.3333333333vw;
  width: 13.3333333333vw;
  padding: 1.3333333333vw 0;
  background-color: #000;
}
.header #menu-icon .wrap {
  position: relative;
  width: 8vw;
  height: 6.1333333333vw;
}
.header #menu-icon .wrap span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 0.2666666667vw;
  display: block;
  line-height: 0;
  background-color: #fff;
  font-size: 0;
  transition: 0.3s;
  margin: auto;
}
.header #menu-icon .wrap span:nth-of-type(1) {
  top: 0;
}
.header #menu-icon .wrap span:nth-of-type(2) {
  top: 50%;
  transform: translateY(-50%);
}
.header #menu-icon .wrap span:nth-of-type(3) {
  top: 100%;
  transform: translateY(-100%);
}
@media (max-width: 750px) {
  .header .menu_wrap {
    position: fixed;
    width: 100vw;
    min-height: 100vh;
    height: 100%;
    left: 100vw;
    overflow: scroll;
    top: 13.3333333333vw;
    background: #ffec00;
    padding: 13.3333333333vw 6.667vw 40vw;
    transition: 0.3s;
    z-index: 99999;
  }
}
.header.open .menu_wrap {
  left: 0;
}
.header.open #menu #menu-icon .wrap span:nth-of-type(1) {
  top: 50%;
  transform: translateY(-50%) rotate(135deg);
}
.header.open #menu #menu-icon .wrap span:nth-of-type(2) {
  opacity: 0;
}
.header.open #menu #menu-icon .wrap span:nth-of-type(3) {
  top: 50%;
  transform: translateY(-50%) rotate(-135deg);
}

/********************************************
* footer
********************************************/
.footer .footer_inner {
  position: relative;
  padding: 45px 0;
  margin: 29px 0 30px;
}
@media (min-width: 751px) and (max-width: 1300px) {
  .footer .footer_inner {
    padding: 3.4615384615vw 0;
    margin: 2.2307692308vw 0 2.3076923077vw;
  }
}
@media (max-width: 750px) {
  .footer .footer_inner {
    padding: 8vw 0;
    margin: 3.8666666667vw 0 4vw;
  }
}
.footer .footer_inner:before, .footer .footer_inner:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 30px;
  background: url(../images/pattern_cinema.png);
  background-repeat: repeat-x;
  background-size: 40px 30px;
}
@media (min-width: 751px) and (max-width: 1300px) {
  .footer .footer_inner:before, .footer .footer_inner:after {
    height: 2.3076923077vw;
    background-size: 3.0769230769vw 2.3076923077vw;
  }
}
@media (max-width: 750px) {
  .footer .footer_inner:before, .footer .footer_inner:after {
    height: 4vw;
    background-size: 5.3333333333vw 4vw;
  }
}
.footer .footer_inner:before {
  top: -30px;
}
@media (min-width: 751px) and (max-width: 1300px) {
  .footer .footer_inner:before {
    top: -2.3076923077vw;
  }
}
@media (max-width: 750px) {
  .footer .footer_inner:before {
    top: -4vw;
  }
}
.footer .footer_inner:after {
  bottom: -30px;
}
@media (min-width: 751px) and (max-width: 1300px) {
  .footer .footer_inner:after {
    bottom: -2.3076923077vw;
  }
}
@media (max-width: 750px) {
  .footer .footer_inner:after {
    bottom: -4vw;
  }
}
.footer .logo {
  text-align: center;
  margin-bottom: 20px;
}
@media (min-width: 751px) and (max-width: 1300px) {
  .footer .logo {
    margin-bottom: 1.5384615385vw;
  }
}
@media (max-width: 750px) {
  .footer .logo {
    margin-bottom: 4vw;
  }
}
.footer .logo img {
  width: 220px;
  height: 58px;
}
@media (min-width: 751px) and (max-width: 1300px) {
  .footer .logo img {
    width: 16.9230769231vw;
    height: 4.4615384615vw;
  }
}
@media (max-width: 750px) {
  .footer .logo img {
    width: 40vw;
    height: 10.6666666667vw;
  }
}
.footer .logo_other ul {
  display: flex;
  justify-content: center;
}
.footer .logo_other li {
  margin: 0 13px;
}
@media (min-width: 751px) and (max-width: 1300px) {
  .footer .logo_other li {
    margin: 0 1vw;
  }
}
@media (max-width: 750px) {
  .footer .logo_other li {
    margin: 0 2vw;
  }
}
.footer .logo_other li img {
  height: 30px;
}
@media (min-width: 751px) and (max-width: 1300px) {
  .footer .logo_other li img {
    height: 2.3076923077vw;
  }
}
@media (max-width: 750px) {
  .footer .logo_other li img {
    height: 5.2vw;
  }
}
.footer .copy {
  text-align: center;
  padding: 15px 0;
  background-color: #000;
}
@media (min-width: 751px) and (max-width: 1300px) {
  .footer .copy {
    padding: 1.1538461538vw 0;
  }
}
@media (max-width: 750px) {
  .footer .copy {
    padding: 2vw 0;
  }
}
.footer .copy .text {
  color: #fff;
  font-weight: 500;
}
@media (max-width: 750px) {
  .footer .copy .text {
    font-size: 2.6666666667vw;
  }
}

/********************************************
/* common
********************************************/
.yellow {
  color: #ffec00;
}

.pink {
  color: #e3007f;
}

.blue {
  color: #009fe8;
}

.illust {
  position: absolute;
}

.link {
  color: #009fe8;
  text-decoration: underline;
}
.link:hover {
  text-decoration: none;
}

.line {
  font-weight: bold;
  padding: 0 10px;
  background: linear-gradient(transparent 75%, #ffec00 60%);
}
@media (min-width: 751px) and (max-width: 1300px) {
  .line {
    padding: 0 0.7692307692vw;
  }
}
@media (max-width: 750px) {
  .line {
    padding: 0 1.3333333333vw;
  }
}

/********************************************
/* Wrap
********************************************/
main.main {
  margin-top: 80px;
}
@media (min-width: 751px) and (max-width: 1300px) {
  main.main {
    margin-top: 6.1538461538vw;
  }
}
@media (max-width: 750px) {
  main.main {
    margin-top: 13.3333333333vw;
  }
}

.sec_inner {
  position: relative;
  padding-left: 50px;
  padding-right: 50px;
  margin: 0 auto;
}
@media (min-width: 751px) and (max-width: 1300px) {
  .sec_inner {
    padding-left: 3.846vw;
    padding-right: 3.846vw;
    margin: 0 auto;
  }
}
@media (max-width: 750px) {
  .sec_inner {
    width: 100%;
    padding-left: 6.667vw;
    padding-right: 6.667vw;
  }
}

.col2 {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 750px) {
  .col2 {
    display: block;
  }
}

/********************************************
* animation
********************************************/
.fadein {
  opacity: 0;
  visibility: hidden;
  transform: translateY(50px);
  transition: all 0.7s;
}

.fadein.is-show {
  opacity: 1;
  visibility: visible;
  transform: translateY(0px);
}

/********************************************
* Table
********************************************/
.table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border-top: 5px solid #000;
  border-bottom: 5px solid #000;
}
@media (min-width: 751px) and (max-width: 1300px) {
  .table {
    border-top: 0.3846153846vw solid #000;
    border-bottom: 0.3846153846vw solid #000;
  }
}
@media (max-width: 750px) {
  .table {
    border-top: 0.6666666667vw solid #000;
    border-bottom: 0.6666666667vw solid #000;
  }
}
.table table {
  width: 100%;
}
.table tr {
  position: relative;
  background-image: url(../images/pattern_dot.png);
  background-size: 15px 5px;
  background-repeat: repeat-x;
  background-position: bottom;
}
@media (min-width: 751px) and (max-width: 1300px) {
  .table tr {
    background-size: 1.1538461538vw 0.3846153846vw;
  }
}
@media (max-width: 750px) {
  .table tr {
    background-size: 2vw 0.6666666667vw;
    background-position: bottom left;
  }
}
.table tr:last-child {
  background: none;
}
.table th {
  vertical-align: middle;
  font-size: 20px;
  font-weight: 500;
  width: 150px;
  padding: 40px 0;
}
@media (min-width: 751px) and (max-width: 1300px) {
  .table th {
    font-size: 1.5384615385vw;
    width: 11.5384615385vw;
    padding: 3.0769230769vw 0;
  }
}
@media (max-width: 750px) {
  .table th {
    text-align: center;
    display: block;
    width: 100%;
    font-size: 3.2vw;
    padding: 4.6666666667vw 0 0;
    border: none;
  }
}
.table td {
  width: 650px;
  vertical-align: middle;
  font-size: 20px;
  font-weight: 500;
  padding: 40px 0;
}
@media (min-width: 751px) and (max-width: 1300px) {
  .table td {
    width: 50vw;
    font-size: 1.5384615385vw;
    padding: 3.0769230769vw 0;
  }
}
@media (max-width: 750px) {
  .table td {
    text-align: center;
    display: block;
    width: 100%;
    font-size: 3.2vw;
    padding: 0 0 4.6666666667vw;
    line-height: 1.6666666667;
  }
}
.table td a {
  font-weight: 500;
}

/********************************************
* page_top
********************************************/
.page_top {
  display: none;
  position: fixed;
  z-index: 500;
  bottom: 40px;
  right: 40px;
  height: 80px;
  width: 80px;
}
@media (min-width: 751px) and (max-width: 1300px) {
  .page_top {
    bottom: 3.0769230769vw;
    right: 3.0769230769vw;
    height: 6.1538461538vw;
    width: 6.1538461538vw;
  }
}
@media (max-width: 750px) {
  .page_top {
    bottom: 5.3333333333vw;
    right: 5.3333333333vw;
    height: 13.3333333333vw;
    width: 13.3333333333vw;
  }
}
.page_top a {
  opacity: 1;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 80px;
  height: 80px;
  overflow: hidden;
  transition: 0.2s;
  background-color: #000;
}
@media (min-width: 751px) and (max-width: 1300px) {
  .page_top a {
    width: 6.1538461538vw;
    height: 6.1538461538vw;
  }
}
@media (max-width: 750px) {
  .page_top a {
    width: 13.3333333333vw;
    height: 13.3333333333vw;
  }
}
.page_top a img {
  width: 35px;
  height: 19px;
  margin: 30px 22.5px;
  transition: transform 0.2s ease;
}
@media (min-width: 751px) and (max-width: 1300px) {
  .page_top a img {
    width: 2.6923076923vw;
    height: 1.4615384615vw;
    margin: 2.3076923077vw 1.7307692308vw;
  }
}
@media (max-width: 750px) {
  .page_top a img {
    width: 8vw;
    height: 4.5333333333vw;
    margin: 4.2666666667vw 2.6666666667vw;
  }
}
.page_top a:hover {
  transform: translateY(-3px);
  opacity: 0.7;
}/*# sourceMappingURL=style.css.map */