// tracking
@mixin tracking($tracking) {
  letter-spacing: ($tracking / 1000) + em;
}

// line-height
$font-line-height: 2;
@mixin lineheight($fontsize, $lin) {
  line-height: $lin / $fontsize;
}

// brake point
$for-sp: 750px;
$for-pc: 751px;
$for-pc-s: 1100px;
$for-pc-m: 1300px;
$for-pc-l: 1920px;
@mixin sp {
  @media (max-width: ($for-sp)) {
    @content;
  }
}
@mixin tab-s {
  @media (min-width: ($for-pc)) and (max-width: ($for-pc-s)) {
    @content;
  }
}
@mixin tab {
  @media (min-width: ($for-pc)) and (max-width: ($for-pc-m)) {
    @content;
  }
}
@mixin pc {
  @media (min-width: ($for-pc)) {
    @content;
  }
}
@mixin pc-l {
  @media (min-width: ($for-pc-l)) {
    @content;
  }
}

// pc auto view width
$base_pc: 1920; //pc art board size
@function vw_pc($size, $base: $base_pc) {
  @return ($size / $base * 100) + vw;
}

// tab auto view width
$base_tab: 1300; //tab art board size
@function vw($size, $base: $base_tab) {
  @return ($size / $base * 100) + vw;
}

// sp auto view width
$base_sp: 750; //sp art board size
@function vw_sp($size, $base: $base_sp) {
  @return ($size / $base * 100) + vw;
}
