@charset "UTF-8";
@use "sass:math";
@use "../global" as *;

/********************************************
* header
********************************************/
body.fixed {
  position: fixed;
  width: 100%;
}
.header {
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
  padding: 0 50px;
  margin: 0 auto;
  background-color: $color-text;
  box-sizing: border-box;
  transition: all 0.2s;
  @include tab {
    padding: 0 vw(50);
  }
  @include sp {
    height: vw_sp(100);
    padding: 0;
  }
  .gnav {
    display: block;
    text-align: left;
    width: 100%;
    margin: auto;
    .main {
      width: 100%;
      display: flex;
      justify-content: space-between;
      transition: all 0.2s;
    }
  }
  .left {
    width: 160px;
    margin-right: 20px;
    @include tab {
      width: vw(160);
      margin-right: vw(20);
    }
    @include sp {
      width: auto;
      height: vw_sp(100);
    }
    .logo {
      h1 {
        line-height: 1;
        display: block;
        img {
          width: 160px;
          height: 80px;
          @include tab {
            width: vw(160);
            height: vw(80);
          }
          @include sp {
            width: auto;
            height: vw_sp(100);
          }
        }
      }
    }
  }
  .right {
    flex: 1;
    width: 100%;
    @include sp {
      display: flex;
      justify-content: flex-end;
    }
  }
  .main_nav {
    flex: 1;
    ul {
      flex: 1;
      position: relative;
      display: flex;
      justify-content: flex-end;
      @include sp {
        display: block;
      }
      li {
        a {
          display: block;
          color: #fff;
          font-size: 26px;
          font-weight: bold;
          line-height: 1;
          padding: 27px 25px;
          text-decoration: none;
          @include tab {
            font-size: vw(26);
            padding: vw(27) vw(25);
          }
          @include sp {
            text-align: center;
            display: block;
            color: $color-text;
            font-size: vw_sp(40);
            line-height: 1;
            padding: vw_sp(40) 0;
            border-bottom: 2px solid $color-text;
          }
        }
        &:hover {
          a {
            color: $color-text;
            background-color: $color-key;
          }
        }
      }
    }
  }
  #menu-icon {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-flow: column;
    z-index: 99999;
    cursor: pointer;
    height: vw_sp(100);
    width: vw_sp(100);
    padding: vw_sp(10) 0;
    background-color: $color-text;
    .wrap {
      position: relative;
      width: vw_sp(60);
      height: vw_sp(46);
      span {
        position: absolute;
        left: 0;
        width: 100%;
        height: vw_sp(2);
        display: block;
        line-height: 0;
        background-color: #fff;
        font-size: 0;
        transition: 0.3s;
        margin: auto;
        &:nth-of-type(1) {
          top: 0;
        }
        &:nth-of-type(2) {
          top: 50%;
          transform: translateY(-50%);
        }
        &:nth-of-type(3) {
          top: 100%;
          transform: translateY(-100%);
        }
      }
    }
  }
  .menu_wrap {
    @include sp {
      position: fixed;
      width: 100vw;
      min-height: 100vh;
      height: 100%;
      left: 100vw;
      overflow: scroll;
      top: vw_sp(100);
      background: $color-key;
      padding: vw_sp(100) $sp-margin vw_sp(300);
      transition: 0.3s;
      z-index: 99999;
    }
  }
  &.open {
    .menu_wrap {
      left: 0;
    }
    #menu {
      #menu-icon {
        .wrap {
          span {
            &:nth-of-type(1) {
              top: 50%;
              transform: translateY(-50%) rotate(135deg);
            }
            &:nth-of-type(2) {
              opacity: 0;
            }
            &:nth-of-type(3) {
              top: 50%;
              transform: translateY(-50%) rotate(-135deg);
            }
          }
        }
      }
    }
  }
}
